.login-background{
    background-image: url("../../assets/images/loginBackGround.png") !important;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.login-card{
    background-color: white; 
    position: absolute; 
    width: 92%; 
    height: auto; 
    margin-top: 50%;
}